<%- include("partials/header") -%>


	<section class="height-100">

		<div class="content">

			<div class="redes">

	  	
	  	 <a href="https://github.com/RenataMie"><i class="fab fa-github fa-3x"></i></button></a>
	  	 <a href="https://www.linkedin.com/in/renata-mie-kanezaki-bba708191/"><i class="fab fa-linkedin fa-3x"></i></a>
	  	
	  		
	  	</div>

			<input id="menu-burguer" type="checkbox">

	<label for="menu-burguer">
		<div class="menu">
		<span class="hamburguer"></span>
		</div>

	</label>



	
	
 
	   <h1 id="demo" class="titulo titulo-animation"> < Mie . Kanezaki />  </h1>
	   <p class="subtitulo"> Front End Web Developer</p>

	   

	   <ul class="menu2">
	       <li><a href=""> Sobre </a></li>
	       <li><a href=""> Projetos </a></li>
	       <li><a href=""> Contato</a></li>
	      
	   </ul>
	   

      

  		
  		
  
	 
	  	

	  	
	  	</div>

	</section>


	  


<%- include("partials/footer") -%>	 

	

	